@charset "UTF-8";

/* font 적용 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
body { font-family: 'Do Hyeon', sans-serif; }


/* 시스템 태그 속성 변경 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* bootstrap 코드 */
.btn:focus { box-shadow: none; }


/* pc 화면 */
h1 {
    margin: 50px;
    margin-bottom: 30px;
    font-size: 45px;
    font-style: italic;
}
footer { margin: 50px; }

.img-part {}
.control-part { padding-top: 50px; }

#card_div { margin-top: 30px; }
#clothes_db_table {
    margin-top: 30px;
    display: none;
}
#comb_button {
    display: none;
    width: 100%;
}
#delete_button {
    display: none;
    width: 100%;
}

.clothes-img {
    width: 300px;
    height: auto;

    /* padding: 12px; */
    background-clip: content-box;
}
.clothes-text {
    font-size: 20px;
    margin-bottom: 5px;
}
.clothes-input {
    padding: 3px;
}
.card-item {
    margin-left: 3px;
    margin-right: 3px;
}

.full-maker {
    vertical-align: middle;
    width: 100%;
}


/* moblie 화면 */
@media (max-width: 992px) {
    h1 { font-size: 38px; }
}
@media (max-width: 767px) {
}
@media (max-width: 419px) {
    h1 { font-size: xx-large; }
}